<h1>Księga gości biblioteki</h1>
<%= render 'layouts/menu' %>
<p id="notice"><%= notice %></p>

<table>
 <thead>
  <tr>
   <th><h2>Użytkownik</h2></th>
   <th><h2>Wpis</h2></th>
   <th><h2>Data</h2></th>
  </tr>
 </thead>

 <tbody>
	<% @entries.each do |entry| %>
	<tr>
<td><h3 class="user"><%= entry.name %></h3></td>
<td><%= entry.comment %></td>
<td><h3 class="user"><%= entry.created_at.strftime("%d/%m/%Y %H:%M") %></h3></td>
		<% end %>
	</tr>
 </tbody>
</table>
<br>
<span>
<%= link_to "Nowy wpis", new_entry_path %>
</span>
