<div class="nav-collapse">
  <ul class="nav">
	<li><%= link_to "Strona główna", root_path %></li> 
 	<li><%= link_to "Autorzy", authors_path %></li>
	<li><%= link_to "Książki", books_path %></li>
        <li><%= link_to "Kategorie", categories_path %></li>
        <li><%= link_to "Księga gości", entries_path %></li>
</ul>
</div>
	
 
